*/
.upload-content{
		    width: 682px;
		margin: 0 auto;
	    font-size: 12px;
	    color: #666;
	    padding: 20px;
		background: #fff;
}
.upload-content .content-img{
	    width: 682px;
}
.upload-content .content-img-list{
	    display: inline;
	    width: 682px;
}
.upload-content .content-img .ico-plus{
	display: inline-block;
	vertical-align: middle;
	margin-top: -4px;
	margin-left: 2px;
	width: 28px;
	height: 28px;
	background: url('../img/plus.png') center/28px 28px;
}
.upload-content .content-img-list-item{
	position: relative;
	display: inline-block;
	width: 165px;
	height: 96px;
	    margin-top: 20px;
	    margin-left: 7px;
}
.upload-content .content-img-list-item:first-child{
	 margin-left: 0;
}
.upload-content .content-img-list-item .hide{
	display: none;
}
.upload-content .content-img-list-item .delete-btn{
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: rgba(0,0,0,0.6);
    height: 28px;
    line-height: 28px;
    color: #fff;
    cursor: pointer;
}
.upload-content .content-img-list-item .ico-delete{
	display: inline-block;
	vertical-align: middle;
	width: 12px;
	height: 13px;
	background: url('../img/trash_can.png') center/12px 13px;
}
.upload-content .content-img-list-item img{
	width: 165px;
	height: 96px;
}
.upload-content .upload-tips{
	    padding-top: 10px;
	    text-align: right;
	    width: 100%;
}
/*图片上传按钮*/
.upload-content .file {
    position: relative;
    display: inline-block;
    border: 1px dashed #DEDEDE;
    border-radius: 4px;
    color: #999999;
    text-decoration: none;
    text-indent: 0;
    width: 165px;
    height: 96px;
    line-height: 96px;
        margin-top: 20px;
}
.upload-content .file input {
    position: absolute;
    font-size: 0px;
    right: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
    width: 165px;
    height: 96px;
}
.upload-content .file:hover {
    color: #999999;
}
.upload-submit{
	    text-align: center;
    margin-top: 50px;
}
.upload-submit .btn-submit-upload{
	    display: inline-block;
    width: 170px;
    height: 40px;
    text-align: center;
    line-height: 38px;
    font-size: 14px;
    box-sizing: border-box;
        background: #ff8819;
    color: #fff;
    border: 1px solid #ff8819;
    border-radius: 2px;
    text-decoration: none;
}